body{
    background: #BDBDBD;
}

.main-back {
    background-color: white;
    padding: 100px;   
}

.imgpugshrinkclass {
    height: 300px;
    width: 300px;
}

.h2blacktext {
    white-space: nowrap
}

.h2greytext {
    color: #808080;
    padding-left: 20px;
    white-space: nowrap;
}

.subcardlightborder {
    padding-top: 70px;
    padding-bottom: 50px;   
    border: 1px lightgrey;
    border-style: solid none;
}