<!-- Contact | Vanessa -->
<div class="contact-wrapper d-flex flex-column">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quos perspiciatis dignissimos a dolor pariatur
        possimus
        fugiat optio ex natus ut quibusdam eius quis. Cum adipisci fugit mollitia.</p>
    <form class="d-flex flex-column">
        <div class="mb-3 d-flex align-items-baseline">
            <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Your email">
        </div>
        <div class="mb-3 d-flex">
            <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                placeholder="Please enter your message here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary ml-auto">Submit</button>
    </form>
</div>