<!-- your html code here -->
<div class="main-back d-flex">
    <div class="row align-self-center d-flex flex-row subcardlightborder">
        <div class="col-8">
            <div class="d-flex flex-row">
                <h2 class="h2blacktext"><b>The First Heading</b></h2>
                <h2 class="h2greytext"><b>Will Catch Your Eye</b></h2>
            </div>            
            <p>Pugs are also known to be great family dogs and are very playful and affectionate with children. 
            Nothing and no one snuggles better than a loving pug. hey'll climb under the blankets and curl into a perfect butter ball for a full night of 
            grade-A spooning.</p>         
        </div>
        <div class="col-4">
            <!-- picture here -->
            <img src="https://i.pinimg.com/originals/e5/dc/53/e5dc53fd682e89545b5556b42d399149.jpg" class="rounded-circle imgpugshrinkclass" alt="...">
        </div>   
    </div>
</div>